button,
button:hover,
button:active,
button:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.la-btn {
    font-family: inherit;
    height: 35px;
    border-radius: 1px;
    line-height: 35px;
    padding: 0 25px;
    font-size: 12px;
    background: transparent;
    border: 1px solid #666;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.la-btn:hover {
    background: rgba(0,0,0,0.05);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.la-btn:active,
button.la-btn:focus {
    background: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
